.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px 5px;
  width: 450px;
  margin: auto;
}

.square {
  width: 150px;
  height: 150px;
  background-color: mediumseagreen;

  &:hover {
    background-color: seagreen;
  }
}